/* ***************************************************
    Load Dependencies
 **************************************************** */
@import url('./sprite.css');

/* ***************************************************
    common styles
 **************************************************** */

em {
    font: inherit;
}

.verticalSeparator {
    padding: 0 5px;
}

.hide {
    display: none;
}

.super-script {
    vertical-align: super;
    font-size: 18px;
}

.corner-badge {
    display: none;
}

/* Hexagon shape */
.hexagon-wrapper {
    text-align: center;
    margin: 0 20px 5px;
    position: relative;
    display: inline-block;
    background-color: white;
}

.hexagon-wrapper .hexagon {
    display: inline-block;
    box-sizing: border-box; 
}

.hexagon-wrapper .hexagon:before {
    position: absolute;
    background-color: inherit;
    content: '';
    transform: rotate(-45deg) matrix(1, -0.26794919243, -0.26794919243, 1, 0, 0);
    -moz-transform: rotate(-45deg) matrix(1, -0.26794919243, -0.26794919243, 1, 0, 0);
    -webkit-transform: rotate(-45deg) matrix(1, -0.26794919243, -0.26794919243, 1, 0, 0);
    box-sizing: border-box; 
    z-index: 1;
}

.hexagon-wrapper .hexagon:after {
    position: absolute;
    background-color: inherit;
    content: '';
    transform: rotate(-45deg) matrix(1, -0.26794919243, -0.26794919243, 1, 0, 0);
    -moz-transform: rotate(-45deg) matrix(1, -0.26794919243, -0.26794919243, 1, 0, 0);
    -webkit-transform: rotate(-45deg) matrix(1, -0.26794919243, -0.26794919243, 1, 0, 0);
    box-sizing: border-box; 
    z-index: 1;
}

.hexagon-wrapper .hexagon-img  {
    display:block;
    position:absolute;
    margin:auto;
    z-index: 3;      
}

/* Tooltip */
.tooltip.widget span.tooltip-content {
    display: none;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    white-space: nowrap;
    background: #3b4b54;
    color: #FFFFFF;
    line-height: 20px;
    padding: 12px 15px;
    border: 1px solid #aeb5b8;
    top: 48px;
    z-index: 999;
    left: 0;
}

.main .tooltip.widget span.tooltip-content {
    white-space: normal;
    line-height: normal;
    padding: 15px;
    font-size: 13px;
    text-align: left;
    word-wrap: break-word;
    opacity: 0;
}
.main .tooltip.widget.tooltip-arrow-n span.tooltip-content {
    top: 100%;
}
.tooltip-arrow-n .tooltip-content::after {
    background-position: -64px -50px;
    top: -6px;
}
.tooltip-arrow-s .tooltip-content::after {
    background-position: -76px -50px;
    bottom: -6px;
}
.tooltip-arrow-n .tooltip-content::after,
.tooltip-arrow-s .tooltip-content::after {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    white-space: nowrap;
    z-index: 999;
    background-image: url(../imgs/sprite.png);
    background-repeat: no-repeat;
}
.tooltip-left10 .tooltip-content::after {
    left: calc(10% - 6px);
}
.tooltip-left20 .tooltip-content::after {
    left: calc(20% - 6px);
}
.tooltip-left30 .tooltip-content::after {
    left: calc(30% - 6px);
}
.tooltip-left40 .tooltip-content::after {
    left: calc(40% - 6px);
}
.tooltip-left50 .tooltip-content::after {
    left: calc(50% - 6px);
}
.tooltip-left60 .tooltip-content::after {
    left: calc(60% - 6px);
}
.tooltip-left70 .tooltip-content::after {
    left: calc(70% - 6px);
}
.tooltip-left80 .tooltip-content::after {
    left: calc(80% - 6px);
}
.tooltip-left90 .tooltip-content::after {
    left: calc(90% - 6px);
}

.settings-menu {
  width: 250px;
  background-color: #ffffff;
  position: absolute;
  z-index: 150;
  right: 119px;
  top: 52px;
  box-shadow: 0 0 10pt -2pt rgba(0, 0, 0, 0.5);
  color: #1b252d;
}

.settings-menu > div {
    overflow: auto;
    height: 100%;
}

.settings-menu ul {
    border-bottom: 1px solid #dcd9df;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 0.75em;
}

.settings-menu ul:last-child {
  border-bottom: 0px solid #dcd9df;
}

.settings-menu ul li {
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-left: 5px solid #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
    /* cloudOE addition: show pointer cursor when over menu items */
    cursor: pointer;
    line-height: 1.5em;
}

.dialogModal.dialogOpen {
    opacity: 1;
    pointer-events: auto;
    height: auto;
}

.dialogModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms ease-in 0s;
    height: 0;
}

.dialogModal .dialogContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    background-color: #FFFFFF !important;
    color: #3b4b54 !important;
    max-width: 500px;
    margin: 15% auto;
}

.dialogModal .dialogContainer.hide {
    display: none;
}

.dialogModal .dialogContainer .dialogTitleBar {
    border-bottom: 1px solid rgba(122, 137, 145, 0.3);
    margin: 10px 0;
    padding: 10px 30px !important;
    text-align: left;
    width: 100%;
}

.dialogModal .dialogContainer .dialogTitle {
    color: #94A3AB;
    text-transform: inherit;
    display: inline-block;
    max-width: 420px;
    width: calc(100% - 16px);
    word-break: break-all;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    line-height: normal;
}

.dialogModal .dialogContainer .dialogMessageArea {
    padding: 10px;
    margin: 0;
    background-color: #ffffff !important;
    color: #3b4b54 !important;
}

.dialogModal .dialogContainer .dialogCloseIcon {
    display: inline !important;
    float: right;
    position: relative;
    right: -20px;
    top: -18px;
    font-size: 27px;
    color: #AAA;
    cursor: pointer;
}

.dialogModal .dialogContainer .icon-warning-orange-small {
    vertical-align: middle;
}

.dialogModal .dialogContainer .dialogMessageAreaTextCell {
    padding-left: 15px;
    vertical-align: middle;
    line-height: 22px;
}

.dialogModal .dialogContainer .dialogMessageAreaText {
    font-size: 20px;
    line-height: 24px;
    color: #94A3AB;
    display: inline-block;
    word-wrap: break-word;
    word-break: normal;
    width: 340px;
    margin: 0;
}

.dialogModal .dialogContainer .dialogMessageContentAreaContentDiv {
    color: #3B4B54;
    font-size: 13px;
    margin: 0;
}
    
.dialogModal .dialogContainer .dialogPaneContent {
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.dialogModal .dialogContainer .messageArea {
    padding: 10px 30px;
    font-size: 15px;
    word-wrap: break-word;
    line-height: normal;
}

.dialogModal .dialogContainer .dialogPaneActionBar {
    margin: 15px 20px !important;
    line-height: normal;
    text-align: right;
    padding: 0;
    float: right;
    border: none;
}

.dialogModal .dialogContainer .btn-primary {
    color: #FFFFFF;
    background-color: #00b299;
}

.no-touch .dialogModal .dialogContainer .btn-primary:hover {
  background-color: #01cdb0;
}

.dialogModal .dialogContainer .btn-secondary {
    color: #3b4b54;
    background-color: #dfe6eb;
}

.no-touch .dialogModal .dialogContainer .btn-secondary:hover {
  background-color: #e9eff2;
}

.dialogModal .dialogContainer .btn {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-size: .875em;
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    text-transform: uppercase;
}

header.action-bar {
    display: inline-block;
    top: 50px;
    z-index: 75;
    border-top: 1px solid rgba(122, 137, 145, 0.3);
    padding-top: 0;
    padding-left: 0;
    height: 50px;
    position: fixed;
    background-color: #1A242D;
    color: #1A242D;
    width: 100%;
    left: 0;
    box-shadow: 0px 0px 5pt 1pt rgba(0, 0, 0, 0.3);
}

/* loading effect (draw some rotating balls using css) */
@-webkit-keyframes ajax-loader-rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    height: 4px;
    width: 4px;
    box-shadow:
        0 -.45em 0 0 rgba(255,255,255,1), 
        -0.35em -0.35em 0 0 rgba(255,255,255,.75), 
        -.45em 0 0 0 rgba(255,255,255,.5), 
        -.35em .35em 0 0 rgba(255,255,255,.25);
    background: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;    
    transition: none;
    opacity: .8;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 1.4em;
    margin: 6px 20px 6px 6px;
    -webkit-animation: .85s ajax-loader-rotate steps(6) infinite;
    -moz-animation: .85s ajax-loader-rotate steps(6) infinite;
    animation: .85s ajax-loader-rotate steps(6) infinite;
}

.loading-spinner {
    box-shadow:
        -0.25em -.42em 0 0 rgba(255,255,255,1.0), 
        -.5em 0 0 0 rgba(255,255,255,0.8), 
        -.25em .42em 0 0 rgba(255,255,255,0.6), 
        .25em .42em 0 0 rgba(255,255,255,0.4), 
        .5em 0 0 0 rgba(255,255,255,0.3), 
        .25em -.42em 0 0 rgba(255,255,255,0.1); 
}

.loading-spinner-container {
    width: 17px;
    height: 17px;
    margin: auto;
}
