/* overrides */
.nav>li>a {
	padding: 2px 15px;
}

.nav .nav-divider {
	background-color: #3b4b54;
}

.nav li.selected {
	background-color: #202c36 !important;
	color : #ffffff !important;
}

.nav li .unselected {
	background-color: #94a3ab;
}

.nav li .selected-item {
	color: #ffffff !important;
}

.nav .active-trial li {
	background: #26343f;
}

.nav .active-trial li:hover {
	background: #202c36;
}

#contentPage .goButton {
	color: #ffffff;
	background-color: #00b399;
	font-family: Arial Bold;
}

#contentPage .titleContent {
	padding: 30px 15px 5px 30px;
}

.selected {
	xborder-bottom: 3px solid #00b299;
	color: #152935;
}

.unselected {
	border-bottom: 3px solid #ecf0f2;
	color: #94a3ab;
}

#contentPage .titleContent .row {
	margin-top: 10px;
}

#contentPage .loading-text {
	margin : 0px;
	padding : 0px;
}

#contentPage .tab-content .row {
	margin-right: 0px;
	margin-left: 0px;
}

#contentPage .design-tabs {
	padding-left: 30px;
	padding-top: 10px;
}

#contentPage .design-tabs .nav-tabs {
	border-bottom: none;
}

.nav-tabs>li.active>a:focus {
	font-size: 14pt;
	color: #152935;
	border: 0px none;
	border-bottom: 3px solid #00b299;
}

.docUI a {
	color: #94a3ab;
}

.nav>li>a:focus {
	background-color: none;
}

.nav-tabs>li>a {
	margin-right: 15px;
	border: 0px none;
	border-bottom: 3px solid #ecf0f2;
}

.nav-tabs>li.active>a {
	border-bottom: 3px solid #00b299;
}

a:focus {
	outline: none;
}

.btn-default {
	background-color: #ffffff;
	color: #8f9fa9;
	font-family: Arial Regular;
	font-size: 12pt;
	height: 34px;
	border: 1px solid #CCC;
	text-transform: none;
}

.btn-default:focus {
	background-color: #00b299;
	color: #152935;
}

#contentPage .tab-content #preview-design {
	margin-top: 5px;
}

#contentPage .tab-content #preview-design .preview-data-selected {
	min-height: 100px;
	max-height: 200px;
	overflow: auto;
}

#contentPage .tab-content #preview-design .section-container {
	xborder: 1px solid #CCC;
	padding: 5px;
	margin-bottom: 5px;
}

#contentPage .align-right {
	padding-right: 2px;
	width: 1%;
}

#contentPage .alignment {
	width: 82%;
}

#contentPage .alignment-left-icon {
	padding-left: 60px;
}

#contentPage .alignment-right {
	padding-right: 2px;
}

#contentPage .alignment-left {
	padding-left: 2px;
}

.tab-content #preview-design .section-container #display-on-hover {
	text-align: right;
	background-color: #C8D2D3;
}

#contentPage .scroll-content {
	max-height: 400px;
	overflow: auto;
	min-height: 400px;
}

.docUI #contentPage {
	width: 100%;
}

#contentPage .footer-bar {
	text-align: right;
	padding-top: 8px;
	padding-right: 20px;
	width: 100%;
}

.footer-bar .save-layout {
	color: #3b3c3c;
	font-size: 12pt;
	font-family: Arial Regular;
}

.footer-bar .generate-template-btn {
	font-family: Arial Bold;
	color: #ffffff;
	background-color: #00b399;
}

.footer-bar .preview-cancel-btn {
	font-family: Arial Bold;
	color: #ffffff;
	background-color: #808287;
}

.btn-primary,.btn-default {
	height: 34px;
}

#data-selection .wrapper {
	padding: 10px;
}

#data-selection .wrapper .data-formats {
	text-align: right;
}

#data-selection .selected-content {
	background-color: #f9f9f9 !important;
	padding-right: 0px;
	border: 1px solid #c8d2d3;
	min-height: 425px;
	max-height: 425px;
	overflow: auto;
}

#data-selection .dataSelection-content {
	padding-top: 10px;
}

#data-selection .navigation-tree {
	min-height: 425px;
	max-height: 425px;
	overflow: auto;
	background-color: #f7f7f7;
	border: 1px solid #c8d2d3;
}

#data-selection .navigation-tree .navigation-top-bar {
	background-color: #c8d2d3;
	color: #5a5a5a;
	text-align: center;
	height: 30px;
	font-family: Arial bold;
	font-size: 12pt;
}

#data-selection .table-header {
	background-color: #f9f9f9 !important;
	background-image: none;
	border-top: none !important;
	border-bottom: 3px solid #00B299 !important;
}

#data-selection .table-data {
	border-bottom: none !important;
}

#data-selection .table-header .header-label {
	border-bottom: 3px solid #00b299 !important;
}

#preview-design .select-global-menu {
	height: 34px;
	text-align: center !important;
	float: right;
	margin-bottom: 10px;
}

#preview-design .select-global-menu .global-insert,.preview-select-format .selectFormat .select-preview-format
	{
	font-size: 12pt;
	font-family: Arial Regular;
	color: #00b399;
}

.section-container #display-on-hover .data-selection-btn {
	background-color: #3b4b54;
	color: #ffffff;
	font-size: 12pt;
	font-family: Arial Bold;
}

#data-selection .table-data {
	height: 45px;
	border-top: none !important;
}

#data-selection .table-data .select-data {
	background-color: #ffffff;
	height: 40px;
}

#data-selection .data-select-buttons {
	margin-top: 10px;
	text-align: right;
	float: right;
	padding-top: 10px;
	padding-right: 35px;
	width: 100%;
	xheight: 75px;
	xbackground-color: #e3dfe0;
	text-align: right;
}

#data-selection .format {
	padding: 5px;
}

#data-selection .schema-tree {
	padding-left: 0px;
}

#data-selection #dataSelected {
	border-collapse: separate !important;
	border-spacing: 2px !important;
}

.jstree-default .jstree-open>.jstree-ocl {
	background-position: -132px -4px;
}

.jstree-default .jstree-closed>.jstree-ocl {
	background-position: -100px -4px;
}

.jstree-default .jstree-leaf>.jstree-ocl {
	background-position: -68px -4px;
}

.preview-paragraph .preview-header {
	background-color: #f1f3f2;
	margin: 2px;
}

.preview-data-selected .preview-container-table {
	border-collapse: separate !important;
	border-spacing: 2px;
}
#docUIContainer {
	width: 100%;
	height: 100%;
	padding: 0px;
}

#topNavPane {
	padding: 0px;
	margin: 0px;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 1768px;
}

#leftNavPane {
	width: 275px;
	left: 0px;
	top: 51px;
	position: absolute;
	height: 700px;
}

#docUINav {
	visibility: inherit;
	overflow: hidden;
	top: 0px;
	height: 533px;
}

#div1 {
	position: absolute;
	top: 0px;
	width: 100%;
	transform: translate3d(0px, 0px, 0px);
}

#dojox_mobile_ListItem_0 {
	display: block;
}

#scrollBarWrapper {
	position: absolute;
	overflow: hidden;
	right: 2px;
	width: 5px;
	top: 4px;
	height: 525px;
}

#scrollableFadeScrollBar {
	opacity: 0;
	position: absolute;
	xbackground-color: rgb(96, 96, 96);
	font-size: 1px;
	z-index: 2147483647;
	border-radius: 2px;
	transform-origin: 0px 0px 0px;
	width: 5px;
	height: 486px;
}

svg {
	position: absolute;
	pointer-events: none;
	opacity: 1;
	z-index: 2147483647;
	height: 525;
	width: 5;
}

#leftNavPane_splitter {
	left: 275px;
	top: 51px;
	position: absolute;
	height: 533px;
}

#mainContentPane {
	left: 275px;
	top: 51px;
	position: absolute;
	width: calc(100% - 275px);
	height: 533px;
	background: white;
}

#mainStackContainer {
	xwidth: 1493px;
	height: 600px;
}

#mainPage {
	left: 0px;
	top: 0px;
	xwidth: 1493px;
	height: 533px;
}

#detailPage {
	left: 0px;
	top: 0px;
	width: 1512px;
	height: 533px;
}
