/* overrides */
.nav>li>a {
	padding: 2px 15px;
}

.nav .nav-divider {
	background-color: #3b4b54;
}

.nav li.selected {
	background-color: #202c36;
}

.nav li .unselected {
	background-color: #94a3ab;
}

.nav li .default {
	color: #00B299 !important;
}

.mouseIn {
	background-color: #202c36;
}

.mouseOut {
	background-color: #26343f;
}

/* .nav>li>a:focus {
	background-color: #202c36;
} */
.nav .active-trial li {
	background: #26343f;
}

.nav .active-trial li:hover {
	background: #202c36;
}

#contentPage .goButton {
	font-size: 14pt;
	color: #ffffff;
	background-color: #01b399;
	font-family: Arial Bold;
}

#contentPage .titleContent {
	padding: 30px 15px 5px 30px;
}

.selected {
	xborder-bottom: 3px solid #00b299;
	color: #152935;
}

.unselected {
	border-bottom: 3px solid #ecf0f2;
	color: #94a3ab;
}

#contentPage .titleContent .row {
	margin-top: 10px;
}

#contentPage .tab-content .row {
	margin-right: 0px;
	margin-left: 0px;
}

#contentPage .design-tabs {
	padding-left: 30px;
	padding-top: 10px;
}

#contentPage .design-tabs .nav-tabs {
	border-bottom: none;
}

.nav-tabs>li.active>a:focus {
	font-size: 14pt;
	color: #152935;
	border: 0px none;
	border-bottom: 3px solid #00b299;
}

.docUI a {
	color: #94a3ab;
}

.nav>li>a:focus {
	background-color: none;
}

.nav-tabs>li>a {
	margin-right: 15px;
	border: 0px none;
	border-bottom: 3px solid #ecf0f2;
}

.nav-tabs>li.active>a {
	border-bottom: 3px solid #00b299;
}

a:focus {
	outline: none;
}

.btn-default {
	background-color: #ffffff;
	color: #8f9fa9;
	font-family: Arial Regular;
	font-size: 12pt;
	height: 34px;
	border: 1px solid #CCC;
	border-radius: 4px;
	text-transform: none;
}

.btn-default:focus {
	background-color: #00b299;
	color: #152935;
}

#contentPage .tab-content #preview-design {
	margin-top: 5px;
}

#contentPage .tab-content #preview-design .text-area {
	min-height: 100px;
	max-height: 200px;
	overflow: auto;
}

#contentPage .tab-content #preview-design .section-container {
	xborder: 1px solid #CCC;
	padding: 5px;
	margin-bottom: 5px;
}

#contentPage .align-right {
	padding-right: 2px;
	width: 1%;
}

#contentPage .alignment {
	width: 82%;
}

#contentPage .alignment-left-icon{
	padding-left : 60px;
}

#contentPage .alignment-right {
	padding-right: 2px;
}

#contentPage .alignment-left {
	padding-left: 2px;
}

.tab-content #preview-design .section-container #display-on-hover {
	xpadding-top: 58px;
	max-height: 5px;
	text-align: right;
	float: right;
	xz-index: 10;
}

#contentPage .scroll-content {
	max-height: 400px;
	overflow: auto;
	min-height: 400px;
}

.docUI #contentPage {
	min-width: 1250px;
	xwidth: 98%;
}

#contentPage .footer-bar {
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;
	width: 100%;
}

.btn-primary,.btn-default {
	height: 34px;
	border-radius: 4px;
}

#data-selection .wrapper {
	padding: 10px;
}

#data-selection .wrapper .data-formats {
	text-align: right;
}

#data-selection .selected-content {
	background-color: #f9f9f9 !important;
	padding-right: 0px;
	border: 1px solid #c8d2d3;
	min-height: 425px;
	max-height: 425px;
	overflow: auto;
}

#data-selection .dataSelection-content {
	padding-top: 10px;
}

#data-selection .navigation-tree {
	min-height: 425px;
	max-height: 425px;
	overflow: auto;
	background-color: #f7f7f7;
	border: 1px solid #c8d2d3;
}

#data-selection .navigation-tree .navigation-top-bar {
	background-color: #c8d2d3;
	color: #5a5a5a;
	text-align: center;
	height: 30px;
	font-family: Arial bold;
	font-size: 12pt;
}

#data-selection .table-header {
	background-color: #f9f9f9 !important;
	background-image: none;
	border-top: none !important;
	border-bottom: 3px solid #00B299 !important;
}

#data-selection .table-data {
	border-bottom: none !important;
}

#data-selection .table-header .header-label {
	border-bottom: 3px solid #00b299 !important;
}

#preview-design .select-global-menu {
	height: 34px;
	text-align: center !important;
	float: right;
	margin-bottom: 10px;
}

#data-selection .table-data {
	height: 45px;
	border-top: none !important;
}

#data-selection .table-data .select-data {
	background-color: #ffffff;
	height: 40px;
}

#data-selection .data-select-buttons {
	margin-top: 10px;
	text-align: right;
	float: right;
	padding-top: 10px;
	padding-right: 35px;
	width: 100%;
	xheight: 75px;
	xbackground-color: #e3dfe0;
	text-align: right;
}

#data-selection .format {
	padding: 5px;
}

#data-selection .schema-tree {
	padding-left: 0px;
}

#data-selection #dataSelected {
	border-collapse: separate !important;
	border-spacing: 2px !important;
}

.jstree-default .jstree-open>.jstree-ocl {
	background-position: -132px -4px;
}

.jstree-default .jstree-closed>.jstree-ocl {
	background-position: -100px -4px;
}

.jstree-default .jstree-leaf>.jstree-ocl {
	background-position: -68px -4px;
}
.preview-paragraph .preview-header {
	background-color : #f1f3f2;
	margin : 2px;
}