.bluemix-global-header {
	padding: 0px;
	height: 3.125em;
	line-height: 1.75em;
	width: 100%;
	color: #FFF;
	background-color: #26343F;
	box-shadow: 0px 0px 5pt 1pt rgba(0, 0, 0, 0.3);
	position: fixed;
	font-family: HelveticaNeue-Light, "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.bluemix-global-header .bluemix-masthead {
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	display: flex;
	float: left;
}

.bluemix-global-header .bluemix-masthead,.bluemix-global-header span {
	line-height: 50px;
}

.bluemix-global-header .bluemix-logo {
	vertical-align: bottom;
}

.bluemix-global-header a
	{
	text-decoration: none;
	transition-property: color;
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
}

.bluemix-global-header a.bluemix-branding {
	font-size: 0.875em;
	color: #FFF;
	margin: 0px 0.75em 0px 1.65em;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
	{
	display: block;
}

.bluemix-global-header * {
	box-sizing: border-box;
}

.bluemix-global-header .bluemix-product-title {
	margin: 0px;
}