/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2013, 2014. All Rights Reserved.
 * 
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

body {
	xbackground-color: #4C4D53;	
}
.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.docUI .loading-text {
	text-align: center;
	margin-top: 5px;
}

.docUI .loading-text .text-content {
	background: #00A6A0;
	border-radius: 2px;
	padding: 5px;
	color: white;
	margin-right: 5px;
}

.docUI .loading-text .close-loading-text {
	padding: 0px;
	color: white;
	margin-left: 15px;
}

.navbar-inverse .sidebar-nav > li > a, .sidebar-nav > li > a {
    padding: 10px 0 0 0;
    min-height: 90px;
    font-size: 16px;
    color: #EFEFF1;
}

.navbar-inverse .sidebar-nav > li > a:hover {
    background: #00648D;
    color: #FFFFFF;
}

.sidebar-nav > li > a:hover {
	background: transparent;
	color: #FFFFFF;
}

.navbar-inverse .sidebar-nav > li > a:focus, .sidebar-nav > li > a:focus {
    background: transparent;
}

.navbar-inverse .sidebar-nav > li.active > a, .navbar-inverse .sidebar-nav > li.active > a:hover,
	.navbar-inverse .sidebar-nav > li.active > a:focus {
    background: #00A6A0;
    color: #FFFFFF;
    width: 120px;
}

.sidebar-nav-desc > li > a {
	padding-top: 10px;
	font-size: 20pt;
	min-height: 50px;
}

.sidebar-nav-desc-text {
	min-height: 40px;
	font-size: 15px;
	color: white;
	display: block;
}

label input, label select, label span {
	font-weight: normal;
}

/* button style overrides */
 .btn-default, .btn-primary {
  color: #FFFFFF;
  border-color: #CCCCCC;
  border-radius: 0px;
  font-weight: normal;
}

.btn-default {
  background-color: #808287;
}

.btn-primary {
  background-color: #00A6A0;
}

.btn-toggle {
	color: #6F7076;
	border-bottom-color: transparent;
	background-color: transparent;
	border: 0px;
	padding-bottom: 5px;
	border-radius: 0;
	font-weight: bold;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FFFFFF;
  border-color: #CCCCCC;
  background-color: #00648D;
}

.btn-toggle:hover {
	color: #000000;
}

.btn-toggle.active {
	color: #000000;
	border-bottom: 3px solid #00A6A0;
	outline: 0;
	box-shadow: none; 
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  color: #CDCED2;
  background-color: #FFFFFF;
  border-color: #CDCED2;
}
